@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --light: #fff;
  --primary: #002b1d;
  --lite: #68ddcb;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --transparent: #rgba(248, 248, 248, 0.9);
}

html {
  overflow-x: hidden;
}

.disappear {
  visibility: hidden;
  opacity: 0;
}

body {
  background: url(https://res.cloudinary.com/okorosamuel/image/upload/v1700746623/Hermes/hill1_a7eqxd.png);
  background-color: #f9f8f6;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 100;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 0px;
}
#sidebar .brand,
#sidebar .brand h2 {
  font-family: "Italianno", cursive;
  font-size: 40px;
  color: var(--primary);
  position: relative;
  top: 0;
  left: 50px;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--primary);
  transform: scale(1.1);
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--primary);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--primary);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 0px);
  left: 0px;
}

#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#userName {
  text-wrap: nowrap;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  display: none;
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input,
.search-form {
  display: none;
  align-items: center;
  height: 36px;
  gap: 10px;
}
#content nav form .form-input input,
.search-form input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 300px;
  color: var(--dark);
}
#content nav form .form-input button,
.search-form button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
  margin-left: -10px;
}

#search_cancel {
  color: #800000;
  transition: all 0.2s ease-in-out;
}

#search_cancel:hover {
  transform: scale(1.05);
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: #fefefa;
  border: 2px solid #800000;
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: #800000;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  background-color: var(--primary);
  left: calc(100% - (25px - 4px) - 2px);
}

#content nav #switch-mode:checked + .switch-mode {
  border: 2px solid var(--primary);
  background: #f5fefd;
}

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

.display_body {
  overflow-y: scroll;
}

/* MAIN */
#content .content_display {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}
#content .content_display .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary);
}

#content .content_display .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content .content_display .box-info li {
  padding: 24px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#content .content_display .box-info li:hover {
  transform: translateY(-3px);
}

#content .content_display .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
#content .content_display .box-info li:nth-child(1) .bx {
  background: var(--lite);
  color: var(--primary);
}
#content .content_display .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#content .content_display .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#content .content_display .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#content .content_display .box-info li .text p {
  color: var(--dark);
}

#content .content_display .table-data,
.task_table {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  /* width: 100%; */
  color: var(--dark);
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}

#content .content_display .table-data:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

#content .content_display .table-data > div,
.task_table > div {
  border-radius: 10px;
  background: #fff;
  padding: 24px;
  overflow-x: auto;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  height: fit-content;
}
#content .content_display .table-data .head,
.task_table .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.task_table .head i {
  cursor: pointer;
  font-size: 20px;
}
#content .content_display .table-data .head h3,
.task_table .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content .content_display .table-data .head .bx,
.table_table .head .bx {
  cursor: pointer;
}

#content .content_display .table-data .order,
.task_table .order {
  flex-grow: 1;
  flex-basis: 500px;
}
#content .content_display .table-data .order table,
.task_table .order table {
  width: 100%;
  border-collapse: collapse;
}
#content .content_display .table-data .order table th,
.task_table .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
#content .content_display .table-data .order table td,
.task_table .order table td {
  padding: 16px 0;
}
#content .content_display .table-data .order table tr td:first-child,
.task_table .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#content .content_display .table-data .order table td img,
.task_table .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: var(--grey);
}

.dropdown-cell:hover .dropdown-content {
  display: block;
}

.task_table .order table td i {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.task_table .order table td i:hover {
  background-color: var(--grey);
}

.task_table .order table tbody tr:hover {
  background: var(--grey);
  cursor: pointer;
}
#table_msg {
  display: none;
  position: relative;
  left: -70px;
  color: #333;
}
.task_table #table_msg a {
  color: var(--dark);
  text-transform: uppercase;
  text-decoration: underline;
}

#content .content_display .table-data .order table tr td .status,
.task_table .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}
#content .content_display .table-data .order table tr td .status.completed,
#content .content_display .table-data .order table tr td .status.deposit,
.task_table .order table tr td .status.status.completed {
  background: var(--primary);
}
#content .content_display .table-data .order table tr td .status.processing,
#content .content_display .table-data .order table tr td .status.reward,
.task_table .order table tr td .status.processing {
  background: var(--yellow);
}
#content .content_display .table-data .order table tr td .status.pending,
#content .content_display .table-data .order table tr td .status.withdrawal,
.task_table .order table tr td .status.pending {
  background: var(--orange);
}

#content .content_display .table-data .order table tr td .status.cancelled,
#content .content_display .table-data .order table tr td .status.paid,
.task_table .order table tr td .status.cancelled {
  background-color: #800000;
}

#content .content_display .table-data .order table tr td .status.unpaid,
.task_table .order table tr td .status.unpaid {
  background-color: #333;
}

.filter {
  display: none;
  align-items: center;
  gap: 15px;
  transition: left 1s ease-in-out;
}
.filter {
  margin-left: 20px;
}
.filter i {
  font-size: 30px;
  color: #800000;
  margin-left: -10px;
  transition: all 0.2s ease-in-out;
}
.filter i:hover {
  transform: scale(1.05);
}
.filter span {
  outline: none;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 10px;
  border: 1px solid var(--lite);
}

.filter span select {
  outline: none;
  cursor: pointer;
  padding: 0px 10px;
  border: none;
  text-transform: capitalize;
}
/* .content_display */

/* overlay and modal */
.overlay {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #f3f7f9;
  border-radius: 9px;
  padding: 25px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 1s ease-out;
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

.modal .card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin-bottom: 10px;
}

.modal .card_body .task_side {
  width: 60%;
  text-transform: capitalize;
}

.modal .card_body .task_side span {
  display: flex;
  margin: 10px 0px;
  gap: 10px;
}

.modal .card_body .task_side span img {
  width: 50px;
  height: 50px;
  color: var(--primary);
}
.modal .billing h2 {
  color: #002b1d;
}
.modal .billing {
  font-size: 15px;
  background-color: #dad6d6;
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal .billing p {
  margin: 10px;
  font-size: 25px;
}

.modal .status {
  color: #333;
}

.modal .status p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  gap: 10px;
}

.modal .status p span {
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0px 10px;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  font-weight: 600;
}

.modal .status p span.completed {
  background: var(--primary);
}
.modal .status p span.processing {
  background: #ffce26;
}
.modal .status p span.pending {
  background: #fd7238;
}

.modal .status p span.cancelled {
  background-color: #800000;
}
.modal .status p span.unpaid {
  background-color: #333;
}

.modal .status p span:hover {
  transform: scale(1.07);
}

.modal .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: var(--primary);
  margin-bottom: 10px;
}

.modal .heading .image_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .heading .image_side button {
  height: 30px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
}

.modal .heading img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.modal h2 {
  color: #333;
}

.modal .heading .setter-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .heading .setter-info h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.modal .heading .setter-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  position: relative;
  top: -10px;
  font-weight: 600;
  text-transform: capitalize;
}

.modal .heading .setter-info .contact_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  width: 70%;
  gap: 30px;
}

.modal .heading .setter-info .contact_icons span {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  font-size: 15px;
  transition: transform 0.5s ease-out;
  height: 30px;
  cursor: pointer;
  transition: transform 0.5s ease-out;
  gap: 10px;
}

.modal .heading .setter-info .contact_icons span:hover {
  transform: translateY(-3px);
}

/* My Profile */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_card {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
  width: 70%;
  height: 100%;
}

.password_card {
  display: none;
  flex-direction: column;
  background-color: var(--light);
  border-radius: 10px;
  padding: 30px;
  width: 70%;
  height: 100%;
  gap: 10px;
}

.password_card_top {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.password_card_top i {
  font-size: 25px;
  margin-right: 50px;
  cursor: pointer;
}

.password_card_top p {
  color: #db504a;
}

.underline {
  width: 0%;
  height: 3px;
  background: var(--lite);
  transition: 0.3s;
}

.profile-info input:focus ~ .underline {
  width: 100%;
}

.edit_dp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: none;
  background-color: #db504a;
  position: relative;
  top: -100px;
}

.change_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -100px;
  opacity: 0;
  visibility: none;
  background-color: #db504a;
}

.profile_card_img {
  display: flex;
  flex-direction: column;
}

.dp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.photo {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 78%;
}
.profile-info span,
.password_card span {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.profile-info input {
  outline: none;
  width: 100%;
  color: #666;
  background-color: #fafbfb;
  border-radius: 5px;
  padding: 10px;
}

.password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password-form span {
  width: 70%;
}

.password_card input {
  outline: none;
  width: 100%;
  color: #666;
  background-color: #fafbfb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.profile-info .name {
  font-size: 1.5rem;
  border: none;
}

.profile-info .email {
  font-size: 1.5rem;
  border: none;
}

.profile-info .phone {
  font-size: 1.5rem;
  border: none;
}

.profile-info .task-input {
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  width: 100%;
  color: #666;
  background-color: #fafbfb;
  border-radius: 5px;
  padding: 10px;
  border: none;
  text-transform: capitalize;
}

.profile-info textarea {
  font-size: 1rem;
  height: 100px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  color: #666;
  background-color: #fafbfb;
  font-family: "Poppins", sans-serif;
  border: none;
}

.password_card .password {
  font-size: 1rem;
  border: none;
  border: 2px solid var(--primary);
}

.profile-info h2 {
  color: #333;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile-info .change-password {
  color: #002b1d;
  text-decoration: underline;
}

.button {
  background-color: var(--primary);
  color: var(--light);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: 800;
  text-wrap: nowrap;
}

.button .edit_btn {
  margin-left: -5rem;
}

.button.save_password {
  width: 11%;
  position: relative;
  left: -190px;
}
.button.password_save {
  width: 11%;
  position: relative;
  left: -190px;
}

.button:hover,
.change-password:hover {
  transform: scale(1.07);
}

/* Wallet */

/* MAIN */
.wallet_wrapper {
  display: flex;
  flex-direction: column;
}

.wallet-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance {
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  height: 200px;
  justify-content: space-between;
}

.balance span .bx {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  background: var(--lite);
  color: var(--primary);
}

.balance_left {
  display: flex;
  align-items: center;
  color: var(--primary);
  gap: 20px;
}

.balance_title {
  font-weight: 500;
  font-size: 20px;
  text-wrap: nowrap;
}

.balance_date {
  color: #333;
}

.balance_amt {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.balance_amt p {
  font-size: 30px;
  font-weight: 900;
  color: var(--primary);
}

.balance_amt h3 {
  font-size: 40px;
  font-weight: 600;
  color: #333;
}

.operations {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 20px;
}

.operations span {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.5s;
}

.operations span:hover {
  transform: scale(1.05);
}

.transaction_table {
  width: 50%;
}

.transaction_table .table_amt {
  display: flex;
  align-items: baseline;
  gap: 3px;
}

.transaction_table .table_amt span {
  font-size: 10px;
}

/* Payment gateway */
.payment {
  background: #f3f7f9;
  max-width: 360px;
  margin: auto;
  height: 100%;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment p {
  color: #002b1d;
  margin-left: 100px;
  font-weight: 600;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far,
.icon-relative .fa-solid {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn {
  margin-top: 40px;
  background: #2196f3;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.paystack-footer {
  width: 300px;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  margin: 40px auto;
  text-align: center;
  opacity: 0.7;
  clear: both;
}

.paystack-footer img {
  width: 200px;
}

.modal .close_modal,
.payment_close_modal {
  display: none;
}

.availability {
  display: flex;
  gap: 10px;
}

.availability p {
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #content nav .bx.bx-menu {
    display: block;
    font-size: 30px;
  }
  #content nav .nav-link {
    display: none;
  }
  #userName {
    text-wrap: nowrap;
  }
  #content .content_display .box-info {
    margin-bottom: 70px;
  }
  .remove_head {
    display: none !important;
  }
  .remove_tab {
    display: none !important;
  }
  .modal {
    width: 100%;
  }
  .modal .close_modal {
    display: block;
    float: right;
    font-size: 30px;
    color: #800000;
    cursor: pointer;
    border: none;
    background: inherit;
  }
  .modal .card_body {
    flex-direction: column;
    gap: 30px;
  }
  .modal .card_body .task_side {
    width: 100%;
  }
  .modal .billing {
    width: 100%;
    margin-bottom: 30px;
  }
  .modal .heading .runner-info {
    align-items: flex-start;
  }
  .modal .heading {
    width: 100%;
    gap: 50px;
  }
  .modal .heading .setter-info {
    align-items: flex-start;
  }

  /* account.html */
  /* #content nav form {
    width: 50%;
  } */

  .availability {
    display: flex;
    flex-direction: column;
  }

  .availability p {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  #content nav .switch-mode {
    width: 30%;
  }
  #content nav .user {
    display: flex;
    flex-direction: column-reverse;
    gap: 0rem;
  }
  #content nav .user {
    font-size: 13px;
  }
  #content .content_display .table-data .order table tr td:first-child, .task_table .order table tr td:first-child {
    flex-direction: column;
    grid-gap: 6px;
    align-items: baseline;
  }
  #content .content_display .table-data .order table tr td:first-child p, .task_table .order table tr td:first-child p {
    text-wrap: wrap;
    font-size: 13px;
    width: 50%;
  }

  .wallet-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .balance {
    flex-direction: column;
    width: 100%;
  }
  .operations {
    flex-direction: row;
  }
  .transaction_table {
    width: 100%;
  }
  .payment_close_modal {
    display: block;
    font-size: 30px;
    color: #800000;
    cursor: pointer;
    border: none;
    background: inherit;
    position: relative;
    left: 95%;
    top: -30px;
  }
  #content .content_display .table-data .order table tr td:first-child {
    display: table-cell;
  }
  .profile {
    align-items: baseline;
  }
  .profile_card {
    flex-direction: column;
    width: 100%;
  }
  .password_card {
    width: 100%;
  }
  .profile-info {
    width: 100%;
    position: relative;
    top: -60px;
  }
  .profile-info input {
    width: 100%;
  }
  .btn-wrapper {
    width: 100%;
    gap: 35px;
  }
  .button.password_save {
    width: 30%;
    position: relative;
    left: -20%;
  }
  .password_card_top {
    width: 90%;
  }
  .search-form input {
    width: 100%;
  }
  .filter span {
    width: 50%;
  }
  .filter span select {
    width: 100%;
  }
  #table_msg {
    display: none !important;
  }
}
