@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #002b1d;
  --lite-color: #68ddcb;
  --link-color: #115036;
  --btn-hover-color: #126241;
  --lg-heading: #07492eed;
  --text-content: rgba(130, 171, 154, 0.929);
  --fixed-header-height: 4.5rem;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: url(https://res.cloudinary.com/okorosamuel/image/upload/v1700746623/Hermes/hill1_a7eqxd.png);
  background-position: center;
  background-size: cover;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
}
.sub-heading {
  color: var(--primary-color);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading span {
  font-family: "Italianno", cursive;
  margin-left: 0.6rem;
  font-size: 5rem;
}

@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  font-family: "Italianno", cursive;
  /* font-family: 'GFS Didot', serif; */
  font-size: 40px;
  color: var(--primary-color);
}

.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 20.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
  background-color: #fff;
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}

.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 55px;
}
.main-heading span {
  color: var(--primary-color);
  font-family: "Italianno", cursive;
  font-size: 70px;
  font-weight: 400;
}
.info-text {
  margin-top: 1.5rem;
  font-size: 30px;
  line-height: 28px;
  color: #334157;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.setter_btn {
  width: 250px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.setter_btn i {
  margin-left: 0.7rem;
}
.setter_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.runner_btn {
  margin-left: 5rem;
  width: 200px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  background-color: #fafbfb;
  color: #047143ed;
  border: 2px solid #32d2c6;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.runner_btn:hover {
  background-color: #a8eee3;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.services_section {
  width: 100%;
  height: 100%;
}

.feat {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
  width: 100%;
}
.feat .card {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 20px 7px;
}

.feat .card span {
  background: var(--lite-color);
  padding: 7px 10px;
  margin-top: 20px;
  border-radius: 3px;
}
.feat .card span h6 {
  font-size: 11px;
  color: var(--primary-color);
}

.feat svg {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}

.active {
  transform: scale(1.15);
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
}

.display {
  display: flex;
  width: 100%;
  height: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.display img {
  width: 50%;
  height: 50%;
}

.task_description {
  padding: 20px;
  background-color: #fafbfb;
}

.task_description .task_title {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  text-transform: capitalize;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

aside span {
  padding-right: 50px;
  color: var(--primary-color);
}

aside span:not(:first-child) {
  padding-left: 50px;
}

aside span:not(:last-child) {
  border-right: 2px solid var(--primary-color);
}

.article_btn {
  bottom: 0;
  margin-left: 6rem;
  margin-top: 2rem;
}

.aside_num {
  font-size: 1.5rem;
}
.aside_text {
  font-size: 1rem;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
}
.img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  color: var(--primary-color);
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon img {
  width: 100px;
  height: 100px;
  color: var(--link-color);
}

.stars {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: flex-start;
  color: #e2a333;
  gap: 2.5px;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  font-weight: 700;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: var(--link-color);
  line-height: 25px;
  font-size: 15.5px;
}

.feedbacks h4 {
  color: var(--lg-heading);
  font-weight: 800;
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  place-content: center;
  background: var(--primary-color);
  color: #fff;
  max-width: 1450px;
  width: 100%;
  padding: 40px 80px;
  gap: 30px;
}

footer a {
  color: #fff;
}
footer .col {
  display: flex;
  flex-direction: row;
  place-items: start;
  place-content: space-between;
  width: 100%;
}
footer .col .i h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 35px 0px 20px 0px;
}
footer .col .i h5 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}
footer .col .i h5 strong {
  font-weight: 600;
}
footer .i,
footer .ii,
footer .iii,
footer .iv {
  margin-top: 0 !important;
}
footer small {
  place-self: center;
  font-size: 13px;
}
footer .iv .store {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: space-between;
  gap: 7px;
}
footer .iv .store .app,
footer .iv .store .play {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  background-color: #088178;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  margin-block: 15px;
  width: 160px;
  height: 48px;
}
footer .iv .store .app:hover,
footer .iv .store .play:hover {
  scale: 1.02;
}
footer .iv .store .app img,
footer .iv .store .play img {
  height: 90.5%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
footer .iv .pay {
  margin-top: 20px;
}
footer .follow h4 {
  font-size: 14px;
  font-weight: 700;
}
footer .follow .socials {
  display: flex;
  flex-direction: row;
  place-items: center;
  margin-top: 20px;
  gap: 10px;
}

footer .follow .socials i {
  font-size: 30px;
  transition: 0.2s;
  cursor: pointer;
}
footer .follow .socials i:hover {
  transform: scale(1.07);
}

@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .img_wrapper {
    display: none;
  }
  .logo h2 {
    font-size: 30px;
  }

  .toggle_btn {
    position: relative;
    left: 0;
  }

  .runner_btn {
    margin-left: -25px;
    margin-top: 5px;
  }
  .container {
    overflow-x: hidden;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 500px;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: transparent;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
    backdrop-filter: blur(10px);
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: var(--primary-color);
    top: 8.5px;
    margin-right: -16.5px;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .sub-heading {
    font-size: 1.8rem;
  }
  .feat {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 5px;
  }

  .card {
    width: 3rem;
    height: 5rem;
    margin-right: 1rem;
  }

  .feat .card span {
    background: transparent;
    padding: 0;
    margin-top: 4px;
    border-radius: 3px;
  }
  .feat .card span h6 {
    font-size: 7px;
    text-wrap: nowrap;
  }
  .feat svg {
    width: 100px;
    height: 100px;
  }
  .display {
    flex-direction: column;
  }

  .display img {
    width: 100%;
    height: 100%;
  }
  .sub-heading-hermes {
    font-size: 1.3rem;
  }
  .sub-heading-hermes span {
    font-size: 2rem;
    margin-left: 0.4rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .grid-cols-2 {
    margin-top: -4rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .setter_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
  aside span {
    padding-right: 20px;
  }

  aside span:not(:first-child) {
    padding-left: 20px;
  }

  footer {
    padding: 20px;
  }
  footer .col {
    flex-direction: column-reverse;
  }
  .task-options option{
    border: 1px solid red;
    background-color: #126241;
    padding: 20px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}

/* task.html */
.contain {
  position: relative;
  top: -4rem;
  height: 100%;
  background-color: #a8ede2;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
}

.contain h4 {
  margin-left: 10%;
}
.contain p {
  margin-bottom: 2rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-field input,
select,
textarea {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  background-color: #fafbfb;
}

.input-field label {
  font-weight: 500;
}

.input-field textarea {
  padding-top: 5px;
  height: 5rem;
}
.task-input {
  text-transform: capitalize;
  cursor: pointer;
}
.task-dropdown {
  background-color: #fafbfb;
  padding: 20px;
  border-radius: 8px;
  margin-top: -0.5rem;
}
.task-dropdown li {
  text-transform: capitalize;
  border-bottom: 1px solid #002b1d;
  cursor: pointer;
  margin-bottom: 5px;
}
.task-dropdown li:hover {
  transform: scale(1.01);
}
